<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<div style="padding: 70px">
    <form action="" method="post">
        <textarea name="input1" style="font-size: 16pt; width: 550px; height: 450px; font-family: Calibri"
                  th:text="${text1}"></textarea>
        <button style="border-radius: 5px; border-style: double">Translate</button>
        <textarea name="input2" style="font-size: 16pt; width: 550px; height: 450px; font-family: Calibri"
                  th:text="${text2}"></textarea>
        <!--        <span th:text="#{groupMembers}"></span> :-->

    </form>
</div>
</body>
</html>